{
  "openapi": "3.0.0",
  "info": {
    "title": "NopStation Cart API",
    "version": "1.0.0",
    "description": "All APIs used in NopStation Cart mobile app"
  },
  "servers": [
    {
      "url": "http://demo460.nop-station.com/api"
    },
    {
      "url": "http://plugin.nop-station.com"
    },
    {
      "url": "{{BASE_URL_440}}"
    },
    {
      "url": "https://plugin.nop-station.com"
    }
  ],
  "paths": {
    "/customer/register": {
      "post": {
        "summary": "Register",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "Email": {
                          "nullable": true
                        },
                        "EnteringEmailTwice": {
                          "type": "boolean"
                        },
                        "ConfirmEmail": {
                          "nullable": true
                        },
                        "UsernamesEnabled": {
                          "type": "boolean"
                        },
                        "Username": {
                          "nullable": true
                        },
                        "CheckUsernameAvailabilityEnabled": {
                          "type": "boolean"
                        },
                        "Password": {
                          "nullable": true
                        },
                        "ConfirmPassword": {
                          "nullable": true
                        },
                        "GenderEnabled": {
                          "type": "boolean"
                        },
                        "Gender": {
                          "nullable": true
                        },
                        "FirstNameEnabled": {
                          "type": "boolean"
                        },
                        "FirstName": {
                          "nullable": true
                        },
                        "FirstNameRequired": {
                          "type": "boolean"
                        },
                        "LastNameEnabled": {
                          "type": "boolean"
                        },
                        "LastName": {
                          "nullable": true
                        },
                        "LastNameRequired": {
                          "type": "boolean"
                        },
                        "DateOfBirthEnabled": {
                          "type": "boolean"
                        },
                        "DateOfBirthDay": {
                          "nullable": true
                        },
                        "DateOfBirthMonth": {
                          "nullable": true
                        },
                        "DateOfBirthYear": {
                          "nullable": true
                        },
                        "DateOfBirthRequired": {
                          "type": "boolean"
                        },
                        "CompanyEnabled": {
                          "type": "boolean"
                        },
                        "CompanyRequired": {
                          "type": "boolean"
                        },
                        "Company": {
                          "nullable": true
                        },
                        "StreetAddressEnabled": {
                          "type": "boolean"
                        },
                        "StreetAddressRequired": {
                          "type": "boolean"
                        },
                        "StreetAddress": {
                          "nullable": true
                        },
                        "StreetAddress2Enabled": {
                          "type": "boolean"
                        },
                        "StreetAddress2Required": {
                          "type": "boolean"
                        },
                        "StreetAddress2": {
                          "nullable": true
                        },
                        "ZipPostalCodeEnabled": {
                          "type": "boolean"
                        },
                        "ZipPostalCodeRequired": {
                          "type": "boolean"
                        },
                        "ZipPostalCode": {
                          "nullable": true
                        },
                        "CityEnabled": {
                          "type": "boolean"
                        },
                        "CityRequired": {
                          "type": "boolean"
                        },
                        "City": {
                          "nullable": true
                        },
                        "CountyEnabled": {
                          "type": "boolean"
                        },
                        "CountyRequired": {
                          "type": "boolean"
                        },
                        "County": {
                          "nullable": true
                        },
                        "CountryEnabled": {
                          "type": "boolean"
                        },
                        "CountryRequired": {
                          "type": "boolean"
                        },
                        "CountryId": {
                          "type": "integer"
                        },
                        "AvailableCountries": {
                          "type": "array",
                          "items": {}
                        },
                        "StateProvinceEnabled": {
                          "type": "boolean"
                        },
                        "StateProvinceRequired": {
                          "type": "boolean"
                        },
                        "StateProvinceId": {
                          "type": "integer"
                        },
                        "AvailableStates": {
                          "type": "array",
                          "items": {}
                        },
                        "PhoneEnabled": {
                          "type": "boolean"
                        },
                        "PhoneRequired": {
                          "type": "boolean"
                        },
                        "Phone": {
                          "nullable": true
                        },
                        "FaxEnabled": {
                          "type": "boolean"
                        },
                        "FaxRequired": {
                          "type": "boolean"
                        },
                        "Fax": {
                          "nullable": true
                        },
                        "NewsletterEnabled": {
                          "type": "boolean"
                        },
                        "Newsletter": {
                          "type": "boolean"
                        },
                        "AcceptPrivacyPolicyEnabled": {
                          "type": "boolean"
                        },
                        "AcceptPrivacyPolicyPopup": {
                          "type": "boolean"
                        },
                        "TimeZoneId": {
                          "nullable": true
                        },
                        "AllowCustomersToSetTimeZone": {
                          "type": "boolean"
                        },
                        "AvailableTimeZones": {
                          "type": "array",
                          "items": {}
                        },
                        "VatNumber": {
                          "nullable": true
                        },
                        "DisplayVatNumber": {
                          "type": "boolean"
                        },
                        "HoneypotEnabled": {
                          "type": "boolean"
                        },
                        "DisplayCaptcha": {
                          "type": "boolean"
                        },
                        "CustomerAttributes": {
                          "type": "array",
                          "items": {}
                        },
                        "GdprConsents": {
                          "type": "array",
                          "items": {}
                        },
                        "CustomProperties": {
                          "type": "object"
                        }
                      }
                    },
                    "Message": {
                      "type": "string"
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This api is used to resgister a customer to the app",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Data": {
                    "type": "object",
                    "properties": {
                      "CountryId": {
                        "type": "integer"
                      },
                      "CountyRequired": {
                        "type": "boolean"
                      },
                      "Email": {
                        "type": "string",
                        "format": "email"
                      },
                      "CompanyEnabled": {
                        "type": "boolean"
                      },
                      "PhoneEnabled": {
                        "type": "boolean"
                      },
                      "CountryEnabled": {
                        "type": "boolean"
                      },
                      "CompanyRequired": {
                        "type": "boolean"
                      },
                      "StreetAddress2Required": {
                        "type": "boolean"
                      },
                      "Newsletter": {
                        "type": "boolean"
                      },
                      "EnteringEmailTwice": {
                        "type": "boolean"
                      },
                      "HoneypotEnabled": {
                        "type": "boolean"
                      },
                      "DisplayCaptcha": {
                        "type": "boolean"
                      },
                      "CustomerAttributes": {
                        "type": "array",
                        "items": {}
                      },
                      "FirstNameEnabled": {
                        "type": "boolean"
                      },
                      "AcceptPrivacyPolicyEnabled": {
                        "type": "boolean"
                      },
                      "FaxEnabled": {
                        "type": "boolean"
                      },
                      "CountyEnabled": {
                        "type": "boolean"
                      },
                      "StreetAddressRequired": {
                        "type": "boolean"
                      },
                      "AvailableStates": {
                        "type": "array",
                        "items": {}
                      },
                      "ZipPostalCodeEnabled": {
                        "type": "boolean"
                      },
                      "GenderEnabled": {
                        "type": "boolean"
                      },
                      "DateOfBirthYear": {
                        "type": "integer"
                      },
                      "Phone": {
                        "type": "string",
                        "format": "utc-millisec"
                      },
                      "DateOfBirthDay": {
                        "type": "integer"
                      },
                      "NewsletterEnabled": {
                        "type": "boolean"
                      },
                      "CityEnabled": {
                        "type": "boolean"
                      },
                      "CountryRequired": {
                        "type": "boolean"
                      },
                      "StreetAddress2Enabled": {
                        "type": "boolean"
                      },
                      "StateProvinceId": {
                        "type": "integer"
                      },
                      "Fax": {
                        "type": "string"
                      },
                      "StreetAddress": {
                        "type": "string"
                      },
                      "DateOfBirthEnabled": {
                        "type": "boolean"
                      },
                      "Password": {
                        "type": "string"
                      },
                      "DateOfBirthMonth": {
                        "type": "integer"
                      },
                      "StreetAddressEnabled": {
                        "type": "boolean"
                      },
                      "ConfirmPassword": {
                        "type": "string"
                      },
                      "AcceptPrivacyPolicyPopup": {
                        "type": "boolean"
                      },
                      "ZipPostalCodeRequired": {
                        "type": "boolean"
                      },
                      "LastNameEnabled": {
                        "type": "boolean"
                      },
                      "GdprConsents": {
                        "type": "array",
                        "items": {}
                      },
                      "CheckUsernameAvailabilityEnabled": {
                        "type": "boolean"
                      },
                      "StateProvinceRequired": {
                        "type": "boolean"
                      },
                      "AllowCustomersToSetTimeZone": {
                        "type": "boolean"
                      },
                      "FirstName": {
                        "type": "string"
                      },
                      "PhoneRequired": {
                        "type": "boolean"
                      },
                      "DateOfBirthRequired": {
                        "type": "boolean"
                      },
                      "FirstNameRequired": {
                        "type": "boolean"
                      },
                      "LastName": {
                        "type": "string"
                      },
                      "UsernamesEnabled": {
                        "type": "boolean"
                      },
                      "FaxRequired": {
                        "type": "boolean"
                      },
                      "CityRequired": {
                        "type": "boolean"
                      },
                      "StateProvinceEnabled": {
                        "type": "boolean"
                      },
                      "Company": {
                        "type": "string",
                        "format": "color"
                      },
                      "LastNameRequired": {
                        "type": "boolean"
                      },
                      "DisplayVatNumber": {
                        "type": "boolean"
                      },
                      "Gender": {
                        "type": "string"
                      }
                    }
                  },
                  "FormValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Key": {
                          "type": "string"
                        },
                        "Value": {
                          "type": "string",
                          "format": "utc-millisec"
                        }
                      }
                    }
                  },
                  "UploadPicture": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/login": {
      "post": {
        "summary": "Login",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Expires": {
                "schema": {
                  "type": "integer"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "CustomerInfo": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "format": "email"
                            },
                            "EmailToRevalidate": {
                              "nullable": true
                            },
                            "CheckUsernameAvailabilityEnabled": {
                              "type": "boolean"
                            },
                            "AllowUsersToChangeUsernames": {
                              "type": "boolean"
                            },
                            "UsernamesEnabled": {
                              "type": "boolean"
                            },
                            "Username": {
                              "type": "string",
                              "format": "email"
                            },
                            "GenderEnabled": {
                              "type": "boolean"
                            },
                            "Gender": {
                              "type": "string"
                            },
                            "FirstName": {
                              "type": "string"
                            },
                            "LastName": {
                              "type": "string"
                            },
                            "DateOfBirthEnabled": {
                              "type": "boolean"
                            },
                            "DateOfBirthDay": {
                              "type": "integer"
                            },
                            "DateOfBirthMonth": {
                              "type": "integer"
                            },
                            "DateOfBirthYear": {
                              "type": "integer"
                            },
                            "DateOfBirthRequired": {
                              "type": "boolean"
                            },
                            "CompanyEnabled": {
                              "type": "boolean"
                            },
                            "CompanyRequired": {
                              "type": "boolean"
                            },
                            "Company": {
                              "type": "string"
                            },
                            "StreetAddressEnabled": {
                              "type": "boolean"
                            },
                            "StreetAddressRequired": {
                              "type": "boolean"
                            },
                            "StreetAddress": {
                              "nullable": true
                            },
                            "StreetAddress2Enabled": {
                              "type": "boolean"
                            },
                            "StreetAddress2Required": {
                              "type": "boolean"
                            },
                            "StreetAddress2": {
                              "nullable": true
                            },
                            "ZipPostalCodeEnabled": {
                              "type": "boolean"
                            },
                            "ZipPostalCodeRequired": {
                              "type": "boolean"
                            },
                            "ZipPostalCode": {
                              "nullable": true
                            },
                            "CityEnabled": {
                              "type": "boolean"
                            },
                            "CityRequired": {
                              "type": "boolean"
                            },
                            "City": {
                              "nullable": true
                            },
                            "CountyEnabled": {
                              "type": "boolean"
                            },
                            "CountyRequired": {
                              "type": "boolean"
                            },
                            "County": {
                              "nullable": true
                            },
                            "CountryEnabled": {
                              "type": "boolean"
                            },
                            "CountryRequired": {
                              "type": "boolean"
                            },
                            "CountryId": {
                              "type": "integer"
                            },
                            "AvailableCountries": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Disabled": {
                                    "type": "boolean"
                                  },
                                  "Group": {
                                    "nullable": true
                                  },
                                  "Selected": {
                                    "type": "boolean"
                                  },
                                  "Text": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string",
                                    "format": "utc-millisec"
                                  }
                                }
                              }
                            },
                            "StateProvinceEnabled": {
                              "type": "boolean"
                            },
                            "StateProvinceRequired": {
                              "type": "boolean"
                            },
                            "StateProvinceId": {
                              "type": "integer"
                            },
                            "AvailableStates": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Disabled": {
                                    "type": "boolean"
                                  },
                                  "Group": {
                                    "nullable": true
                                  },
                                  "Selected": {
                                    "type": "boolean"
                                  },
                                  "Text": {
                                    "type": "string"
                                  },
                                  "Value": {
                                    "type": "string",
                                    "format": "utc-millisec"
                                  }
                                }
                              }
                            },
                            "PhoneEnabled": {
                              "type": "boolean"
                            },
                            "PhoneRequired": {
                              "type": "boolean"
                            },
                            "Phone": {
                              "nullable": true
                            },
                            "FaxEnabled": {
                              "type": "boolean"
                            },
                            "FaxRequired": {
                              "type": "boolean"
                            },
                            "Fax": {
                              "nullable": true
                            },
                            "NewsletterEnabled": {
                              "type": "boolean"
                            },
                            "Newsletter": {
                              "type": "boolean"
                            },
                            "SignatureEnabled": {
                              "type": "boolean"
                            },
                            "Signature": {
                              "nullable": true
                            },
                            "TimeZoneId": {
                              "nullable": true
                            },
                            "AllowCustomersToSetTimeZone": {
                              "type": "boolean"
                            },
                            "AvailableTimeZones": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Disabled": {
                                    "type": "boolean"
                                  },
                                  "Group": {
                                    "nullable": true
                                  },
                                  "Selected": {
                                    "type": "boolean"
                                  },
                                  "Text": {
                                    "type": "string",
                                    "format": "style"
                                  },
                                  "Value": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "VatNumber": {
                              "nullable": true
                            },
                            "VatNumberStatusNote": {
                              "type": "string"
                            },
                            "DisplayVatNumber": {
                              "type": "boolean"
                            },
                            "AssociatedExternalAuthRecords": {
                              "type": "array",
                              "items": {}
                            },
                            "NumberOfExternalAuthenticationProviders": {
                              "type": "integer"
                            },
                            "AllowCustomersToRemoveAssociations": {
                              "type": "boolean"
                            },
                            "CustomerAttributes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Name": {
                                    "type": "string"
                                  },
                                  "IsRequired": {
                                    "type": "boolean"
                                  },
                                  "DefaultValue": {
                                    "nullable": true
                                  },
                                  "AttributeControlType": {
                                    "type": "integer"
                                  },
                                  "Values": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "Id": {
                                    "type": "integer"
                                  },
                                  "CustomProperties": {
                                    "type": "object"
                                  }
                                }
                              }
                            },
                            "GdprConsents": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Message": {
                                    "type": "string"
                                  },
                                  "IsRequired": {
                                    "type": "boolean"
                                  },
                                  "RequiredMessage": {
                                    "type": "string"
                                  },
                                  "Accepted": {
                                    "type": "boolean"
                                  },
                                  "Id": {
                                    "type": "integer"
                                  },
                                  "CustomProperties": {
                                    "type": "object"
                                  }
                                }
                              }
                            },
                            "CustomProperties": {
                              "type": "object"
                            }
                          }
                        },
                        "Token": {
                          "type": "string"
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/logout": {
      "get": {
        "summary": "Logout",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "This API is called to remove logged in users session info"
      }
    },
    "/customer/passwordrecovery": {
      "post": {
        "summary": "Forgot Password",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forgot Password",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "Email": {
                          "type": "string",
                          "format": "email"
                        },
                        "Result": {
                          "nullable": true
                        },
                        "DisplayCaptcha": {
                          "type": "boolean"
                        },
                        "CustomProperties": {
                          "type": "object"
                        }
                      }
                    },
                    "Message": {
                      "type": "string"
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "A registered customer can get password reset related information to his email by this API.\n\nRequset body contains the email address that used to create the customer account."
      }
    },
    "/customer/changepassword": {
      "post": {
        "summary": "Change Password",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change Password",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Message": {
                      "type": "string"
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "A registered customer can change password by using this API\n\nRequestBody contains -\n\nOldPassword: String,\nNewPassword: String,\nConfirmNewPassword: String"
      }
    },
    "/slider/homepageslider": {
      "get": {
        "summary": "Banner",
        "tags": [
          "Home page"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Home Page Banner response",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              },
              "Nginx-Cache": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "object",
                      "properties": {
                        "IsEnabled": {
                          "type": "boolean"
                        },
                        "Sliders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "SliderType": {
                                "type": "integer"
                              },
                              "EntityId": {
                                "type": "integer"
                              },
                              "Id": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get home page banner images"
      }
    },
    "/home/homepagecategorieswithproducts": {
      "get": {
        "summary": "Categories with Products",
        "tags": [
          "Home page"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "homepagecategorieswithproducts response",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              },
              "Nginx-Cache": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "SeName": {
                            "type": "string"
                          },
                          "SubCategories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Name": {
                                  "type": "string"
                                },
                                "SeName": {
                                  "type": "string"
                                },
                                "SubCategories": {
                                  "type": "array",
                                  "items": {}
                                },
                                "Products": {
                                  "type": "array",
                                  "items": {}
                                },
                                "Id": {
                                  "type": "integer"
                                },
                                "CustomProperties": {
                                  "type": "object"
                                }
                              }
                            }
                          },
                          "Products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Name": {
                                  "type": "string"
                                },
                                "ShortDescription": {
                                  "type": "string"
                                },
                                "FullDescription": {
                                  "type": "string"
                                },
                                "SeName": {
                                  "type": "string"
                                },
                                "Sku": {
                                  "type": "string"
                                },
                                "ProductType": {
                                  "type": "integer"
                                },
                                "MarkAsNew": {
                                  "type": "boolean"
                                },
                                "ProductPrice": {
                                  "type": "object",
                                  "properties": {
                                    "OldPrice": {
                                      "nullable": true
                                    },
                                    "Price": {
                                      "type": "string"
                                    },
                                    "PriceValue": {
                                      "type": "number"
                                    },
                                    "BasePricePAngV": {
                                      "nullable": true
                                    },
                                    "DisableBuyButton": {
                                      "type": "boolean"
                                    },
                                    "DisableWishlistButton": {
                                      "type": "boolean"
                                    },
                                    "DisableAddToCompareListButton": {
                                      "type": "boolean"
                                    },
                                    "AvailableForPreOrder": {
                                      "type": "boolean"
                                    },
                                    "PreOrderAvailabilityStartDateTimeUtc": {
                                      "nullable": true
                                    },
                                    "IsRental": {
                                      "type": "boolean"
                                    },
                                    "ForceRedirectionAfterAddingToCart": {
                                      "type": "boolean"
                                    },
                                    "DisplayTaxShippingInfo": {
                                      "type": "boolean"
                                    },
                                    "CustomProperties": {
                                      "type": "object"
                                    }
                                  }
                                },
                                "DefaultPictureModel": {
                                  "type": "object",
                                  "properties": {
                                    "ImageUrl": {
                                      "type": "string",
                                      "format": "uri"
                                    },
                                    "ThumbImageUrl": {
                                      "nullable": true
                                    },
                                    "FullSizeImageUrl": {
                                      "type": "string",
                                      "format": "uri"
                                    },
                                    "Title": {
                                      "type": "string"
                                    },
                                    "AlternateText": {
                                      "type": "string"
                                    },
                                    "CustomProperties": {
                                      "type": "object"
                                    }
                                  }
                                },
                                "SpecificationAttributeModels": {
                                  "type": "array",
                                  "items": {}
                                },
                                "ReviewOverviewModel": {
                                  "type": "object",
                                  "properties": {
                                    "ProductId": {
                                      "type": "integer"
                                    },
                                    "RatingSum": {
                                      "type": "integer"
                                    },
                                    "TotalReviews": {
                                      "type": "integer"
                                    },
                                    "AllowCustomerReviews": {
                                      "type": "boolean"
                                    },
                                    "CustomProperties": {
                                      "type": "object"
                                    }
                                  }
                                },
                                "Id": {
                                  "type": "integer"
                                },
                                "CustomProperties": {
                                  "type": "object"
                                }
                              }
                            }
                          },
                          "Id": {
                            "type": "integer"
                          },
                          "CustomProperties": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get Homepage Categories with Products"
      }
    },
    "/home/manufacturers": {
      "get": {
        "summary": "Manufacturers",
        "tags": [
          "Home page"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Home Page Manufacturers response",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              },
              "Nginx-Cache": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Description": {
                            "nullable": true
                          },
                          "MetaKeywords": {
                            "nullable": true
                          },
                          "MetaDescription": {
                            "nullable": true
                          },
                          "MetaTitle": {
                            "nullable": true
                          },
                          "SeName": {
                            "type": "string"
                          },
                          "PictureModel": {
                            "type": "object",
                            "properties": {
                              "ImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "ThumbImageUrl": {
                                "nullable": true
                              },
                              "FullSizeImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "Title": {
                                "type": "string"
                              },
                              "AlternateText": {
                                "type": "string"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "PagingFilteringContext": {
                            "type": "object",
                            "properties": {
                              "PriceRangeFilter": {
                                "type": "object",
                                "properties": {
                                  "Enabled": {
                                    "type": "boolean"
                                  },
                                  "Items": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "RemoveFilterUrl": {
                                    "nullable": true
                                  },
                                  "CustomProperties": {
                                    "type": "object"
                                  }
                                }
                              },
                              "SpecificationFilter": {
                                "type": "object",
                                "properties": {
                                  "Enabled": {
                                    "type": "boolean"
                                  },
                                  "AlreadyFilteredItems": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "NotFilteredItems": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "RemoveFilterUrl": {
                                    "nullable": true
                                  },
                                  "CustomProperties": {
                                    "type": "object"
                                  }
                                }
                              },
                              "AllowProductSorting": {
                                "type": "boolean"
                              },
                              "AvailableSortOptions": {
                                "type": "array",
                                "items": {}
                              },
                              "AllowProductViewModeChanging": {
                                "type": "boolean"
                              },
                              "AvailableViewModes": {
                                "type": "array",
                                "items": {}
                              },
                              "AllowCustomersToSelectPageSize": {
                                "type": "boolean"
                              },
                              "PageSizeOptions": {
                                "type": "array",
                                "items": {}
                              },
                              "OrderBy": {
                                "nullable": true
                              },
                              "ViewMode": {
                                "nullable": true
                              },
                              "PageIndex": {
                                "type": "integer"
                              },
                              "PageNumber": {
                                "type": "integer"
                              },
                              "PageSize": {
                                "type": "integer"
                              },
                              "TotalItems": {
                                "type": "integer"
                              },
                              "TotalPages": {
                                "type": "integer"
                              },
                              "FirstItem": {
                                "type": "integer"
                              },
                              "LastItem": {
                                "type": "integer"
                              },
                              "HasPreviousPage": {
                                "type": "boolean"
                              },
                              "HasNextPage": {
                                "type": "boolean"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "FeaturedProducts": {
                            "type": "array",
                            "items": {}
                          },
                          "Products": {
                            "type": "array",
                            "items": {}
                          },
                          "Id": {
                            "type": "integer"
                          },
                          "CustomProperties": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get Home Page Manufacturers"
      }
    },
    "/home/featureproducts": {
      "get": {
        "summary": "Featured Products",
        "tags": [
          "Home page"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Featured Products response",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              },
              "Nginx-Cache": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "ShortDescription": {
                            "type": "string"
                          },
                          "FullDescription": {
                            "type": "string"
                          },
                          "SeName": {
                            "type": "string"
                          },
                          "Sku": {
                            "type": "string"
                          },
                          "ProductType": {
                            "type": "integer"
                          },
                          "MarkAsNew": {
                            "type": "boolean"
                          },
                          "ProductPrice": {
                            "type": "object",
                            "properties": {
                              "OldPrice": {
                                "nullable": true
                              },
                              "Price": {
                                "type": "string"
                              },
                              "PriceValue": {
                                "type": "integer"
                              },
                              "BasePricePAngV": {
                                "nullable": true
                              },
                              "DisableBuyButton": {
                                "type": "boolean"
                              },
                              "DisableWishlistButton": {
                                "type": "boolean"
                              },
                              "DisableAddToCompareListButton": {
                                "type": "boolean"
                              },
                              "AvailableForPreOrder": {
                                "type": "boolean"
                              },
                              "PreOrderAvailabilityStartDateTimeUtc": {
                                "nullable": true
                              },
                              "IsRental": {
                                "type": "boolean"
                              },
                              "ForceRedirectionAfterAddingToCart": {
                                "type": "boolean"
                              },
                              "DisplayTaxShippingInfo": {
                                "type": "boolean"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "DefaultPictureModel": {
                            "type": "object",
                            "properties": {
                              "ImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "ThumbImageUrl": {
                                "nullable": true
                              },
                              "FullSizeImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "Title": {
                                "type": "string"
                              },
                              "AlternateText": {
                                "type": "string"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "SpecificationAttributeModels": {
                            "type": "array",
                            "items": {}
                          },
                          "ReviewOverviewModel": {
                            "type": "object",
                            "properties": {
                              "ProductId": {
                                "type": "integer"
                              },
                              "RatingSum": {
                                "type": "integer"
                              },
                              "TotalReviews": {
                                "type": "integer"
                              },
                              "AllowCustomerReviews": {
                                "type": "boolean"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "Id": {
                            "type": "integer"
                          },
                          "CustomProperties": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get home page feature products"
      }
    },
    "/home/bestsellerproducts": {
      "get": {
        "summary": "Best Seller Products",
        "tags": [
          "Home page"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Home Page Manufacturers response",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              },
              "Nginx-Cache": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Description": {
                            "nullable": true
                          },
                          "MetaKeywords": {
                            "nullable": true
                          },
                          "MetaDescription": {
                            "nullable": true
                          },
                          "MetaTitle": {
                            "nullable": true
                          },
                          "SeName": {
                            "type": "string"
                          },
                          "PictureModel": {
                            "type": "object",
                            "properties": {
                              "ImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "ThumbImageUrl": {
                                "nullable": true
                              },
                              "FullSizeImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "Title": {
                                "type": "string"
                              },
                              "AlternateText": {
                                "type": "string"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "PagingFilteringContext": {
                            "type": "object",
                            "properties": {
                              "PriceRangeFilter": {
                                "type": "object",
                                "properties": {
                                  "Enabled": {
                                    "type": "boolean"
                                  },
                                  "Items": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "RemoveFilterUrl": {
                                    "nullable": true
                                  },
                                  "CustomProperties": {
                                    "type": "object"
                                  }
                                }
                              },
                              "SpecificationFilter": {
                                "type": "object",
                                "properties": {
                                  "Enabled": {
                                    "type": "boolean"
                                  },
                                  "AlreadyFilteredItems": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "NotFilteredItems": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "RemoveFilterUrl": {
                                    "nullable": true
                                  },
                                  "CustomProperties": {
                                    "type": "object"
                                  }
                                }
                              },
                              "AllowProductSorting": {
                                "type": "boolean"
                              },
                              "AvailableSortOptions": {
                                "type": "array",
                                "items": {}
                              },
                              "AllowProductViewModeChanging": {
                                "type": "boolean"
                              },
                              "AvailableViewModes": {
                                "type": "array",
                                "items": {}
                              },
                              "AllowCustomersToSelectPageSize": {
                                "type": "boolean"
                              },
                              "PageSizeOptions": {
                                "type": "array",
                                "items": {}
                              },
                              "OrderBy": {
                                "nullable": true
                              },
                              "ViewMode": {
                                "nullable": true
                              },
                              "PageIndex": {
                                "type": "integer"
                              },
                              "PageNumber": {
                                "type": "integer"
                              },
                              "PageSize": {
                                "type": "integer"
                              },
                              "TotalItems": {
                                "type": "integer"
                              },
                              "TotalPages": {
                                "type": "integer"
                              },
                              "FirstItem": {
                                "type": "integer"
                              },
                              "LastItem": {
                                "type": "integer"
                              },
                              "HasPreviousPage": {
                                "type": "boolean"
                              },
                              "HasNextPage": {
                                "type": "boolean"
                              },
                              "CustomProperties": {
                                "type": "object"
                              }
                            }
                          },
                          "FeaturedProducts": {
                            "type": "array",
                            "items": {}
                          },
                          "Products": {
                            "type": "array",
                            "items": {}
                          },
                          "Id": {
                            "type": "integer"
                          },
                          "CustomProperties": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get home page best seller products"
      }
    },
    "/home/categorytree": {
      "get": {
        "summary": "Category Tree",
        "tags": [
          "Home page"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category Tree response",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Feature-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string"
                }
              },
              "cf-request-id": {
                "schema": {
                  "type": "string"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                }
              },
              "Nginx-Cache": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CategoryId": {
                            "type": "integer"
                          },
                          "SeName": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "IconUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "SubCategories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "CategoryId": {
                                  "type": "integer"
                                },
                                "SeName": {
                                  "type": "string"
                                },
                                "Name": {
                                  "type": "string"
                                },
                                "IconUrl": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "SubCategories": {
                                  "type": "array",
                                  "items": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Message": {
                      "nullable": true
                    },
                    "ErrorList": {
                      "type": "array",
                      "items": {}
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get category with subcategories shown in left drawer"
      }
    },
    "/product/productdetails/12020": {
      "get": {
        "summary": "Product Details",
        "tags": [
          "Product Detail"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "description": "Get details information of a product.\n\nPath: Product ID"
      }
    },
    "/product/relatedproducts/2": {
      "get": {
        "summary": "Related Products",
        "tags": [
          "Product Detail"
        ],
        "parameters": [
          {
            "name": "Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DeviceId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NST",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related Products",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
[...]
